* {
  /* box-sizing: border-box; */
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  width: 550px;
  max-width: 60%;
  min-height: 550px;
  background-color: #f5f7fb;
  color: #293264;
  padding: 40px 75px;
}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 20px 50px;
  border: none;
  border-radius: 24px;
  align-self: center;
}


/* Type */

h1,
h2 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #293264;
}

h1 {
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 3em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav--list{
  font-family: 'Karla', sans-serif;
  font-size: 1.5em;
  display: flex;
  gap: 4em;
}

.nav--list > div{

  display: flex;
  gap: 1em;
}

.nav--link{
  color:#293264;
  text-decoration: none;
}

.nav--link:hover,
.nav--link:active
{
  color: #4d5b9e;
}

/* Splash Page */
.info--page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75em;
}

.btn--start {
  margin-top: 10px;
}

/* Quiz Page*/

.quiz--page {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn--check {
  align-self: center;
}

.question--section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
  /* margin-bottom: 0.75em; */
  border-bottom: 0.794239px solid #dbdef0;
}

.answers--set {
  display: flex;
  gap: 0.75em;
  flex-wrap: wrap;
}

.answers--set > li {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-weight: 500;
  padding: 0.25em 0.75em;
  border: 7px solid #4d5b9e;
  border-radius: 7px;
}

.check--and--results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}