/* CSS Settings and Variables */

:root {
  --clr-light: #f5f7fb;
  --clr-med-light: #dbdef0;
  --clr-med: #4d5b9e;
  --clr-dark: #293264;
  --clr-grey: #838694;
  --ff-titles: "Karla", sans-serif;
  --ff-main: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--ff-main);
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

/* Type and Buttons*/

h1,
h2 {
  font-family: var(--ff-titles);
  font-weight: 700;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;

  background-color: var(--clr-med);
  color: var(--clr-light);

  padding: 1rem 3rem;
  border: none;
  border-radius: 1.5rem;
  align-self: center;
  transition: 350ms ease;
}

button:hover,
button:active {
  background-color: var(--clr-dark);
  /* color: #fff; */
}

/* Utility */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-1 {
  z-index: 1;
}

/* Layout */

main::before {
  content: "";
  background-image: url("/blobTR.svg");
  background-repeat: none;
  position: fixed;
  background-size: 18rem;
  width: 18rem;
  height: 18rem;
  top: -7rem;
  right: -5rem;
  z-index: 0;
}

main::after {
  content: "";
  background-image: url("/blobBl.svg");
  background-repeat: none;
  position: fixed;
  background-size: 18rem;
  width: 18rem;
  height: 18rem;
  bottom: -7rem;
  left: -5rem;
  z-index: 0;
}

main {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  width: 900px;
  max-width: 100%;
  min-height: 550px;
  padding: 1rem 3rem 4rem;
  margin: 0 auto;
}

/* Navigation Section */

nav {
  color: var(--clr-dark);
  z-index: 2;
}

.nav--list {
  font-family: var(--ff-titles);
  font-size: 2.25rem;
  width: 900px;
  padding: 2rem 3rem;
  max-width: 100%;
  justify-content: space-between;
}

.nav--choices {
  gap: 2rem;
}

.nav--link {
  font-weight: 700;
  color: var(--clr-dark);
  text-decoration: none;
}

.nav--link:hover{
  color: var(--clr-med);
}

/* Splash Page */
.info--page {
  flex-direction: column;
  gap: 1rem;
}

.btn--start {
  margin-top: 1rem;
}

/* Quiz Page*/

.quiz--page {
  flex-direction: column;
}

.question--section {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0 2rem;
  border-bottom: 1px solid #dbdef0;
}

.answers--set {
  justify-content: flex-start;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.answer {
  cursor: pointer;
  font-weight: 500;
  padding: 0.25em 0.75em;
  border: 7px solid #4d5b9e;
  border-radius: 7px;
}

.check--and--results {
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 600px) {
  main::before {
    background-size: 14rem;
    width: 14rem;
    height: 14rem;
  }

  main::after {
    background-size: 15rem;
    width: 15rem;
    height: 15rem;
  }
  .nav--list {
    font-size: 1.5rem;
  }
  .nav--choices {
    gap: 1rem;
  }
}

/* Loader Animation */
/* CCO license from loading.io css spinner ( https://loading.io/css/ ) */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--clr-dark);
  border-color: var(--clr-dark) transparent var(--clr-dark) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
